---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager : true }));
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h3 class="accent">Below are the available posts to look at:</h3>
    <p>AchroDev ~ 9:51 PM 11/11/25</p>
    <ul>
        {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>