---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h3 class="accent">First Post</h3>
    <p>AchroDev ~ 9:51 PM 11/11/25</p>
    <ul>
        <li><a href="/posts/post-1/">Post 1</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
</BaseLayout>