---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to my Astro Blog project!</h2>
	<Greeting client:load messages={["Hello", "hej", "Hallo", "Hola", "Habari"]} />
	<p>Feel free to start a journey yourself by reading their documentation here: <a href="https://docs.astro.build/en/tutorial/">Astro Tutorial</a></p>
</BaseLayout>